* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  width: 100%;
}
.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 247, 188);
  color: #354463;
  font-weight: bold;
  border-radius: 100px;
  position: relative;
  top: 30px;

  text-align: center;
  min-width: 160px;
  height: 40px;
  font-size: 18px;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.donate-btn-container {
  width: 70%;
  min-height: 5vh;
  background-color: #c1f7d5;
  border-radius: 100px;
  text-align: center;
  align-content: center;
  margin: auto;
}
.donate-btn {
  border: none;
  background: transparent;
}
.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  min-width: 160px;
  font-weight: lighter;
  height: 40px;
  color: #354463;
}
.climate-change {
  background-image: url("../assets/home/annie-spratt-135307-unsplash.png");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
}
.hero-description {
  width: 150px;
  padding-left: 30px;
  margin-top: 20px;
  padding-top: 70px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: "flood std";
  font-style: normal;
}
.climate-change-description {
  height: 150px;
  width: 250px;
  background-color: white;
  font-size: 11px;
  justify-items: center;
  padding: 15px;
  padding-top: 50px;
  padding-left: 35px;
}

.hero-anchor {
  padding-top: 40px;
  font-size: 15px;
}
.header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.header-card h1 {
  font: "normal normal bold 44px/56px Helvetica;";
}
.climate-change h1 {
  font: "normal normal bold 44px/56px Helvetica;";
}
.hero-btn {
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  align-content: center;
  padding-left: 60px;
  position: relative;
  top: 25px;
}

.hero-btn-take-action {
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  align-content: center;
  padding-left: 60px;
  position: relative;
  top: 55px;
}

.container {
  padding: 10%;
  background-color: hsl(118, 88%, 77%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
}


.mission-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #354463;
  padding: 10%;
  justify-content: center;
}
.mission-btn {
  font-size: 14px;
}
.mission-do-container {
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 22px;
  font-weight: bold;
  font-family: Helvetica;
}

.mission-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 5% 5%;
  background-color: white;
  margin: 12% 0 15% 0;
}
.mission-img {
  position: relative;
  width: 100%;
  max-width: 300px;

  height: auto;
}

.mission-img img {
  position: relative;
  top: -20px;
  width: 100%;
  height: auto;
}

.mission-list h3 {
  text-align: center;
  padding-bottom: 20px;
}
.mission-list p {
  text-align: center;
  font-family: Helvetica;
  color: #354463;
  font-size: 16px;
  align-content: flex-start;
}

.what-we-do-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  min-width: 160px;
  font-weight: lighter;
  height: 40px;
  color: #354463;
}
.mission-btn-green {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 45%;
}

.read-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1f7d5;
  color: #354463;
  font-weight: bold;
  border-radius: 100px;
  text-align: center;
  width: 300px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
}

.issue-container {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/home/did-you-know-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hwb(150 70% 9%);
  padding: 10%;
}
.issue-heading {
  max-width: 60%;
  color: #ffffff;
}

.issue-heading h2 {
  font-family: "Flood std";
  color: hsl(194, 55%, 10%);
  /* padding: 30px; */
  font-weight: bold;

}

.know-btn {
  position: relative;
  height: 40px;
  bottom: -40px;
  max-width: 30%;
}
.issue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 5% 0 5% 0;
  padding: 5%;
}
.issue h2 {
  width: 50%;
}
.issue-know-btn {
  height: 50px;
  width: 130px;
  background-color: black;
  color: white;
  align-content: center;
  margin-left: 70px;
  position: relative;
  top: 30px;
}
.issue-heading h2{
  color: #ffffff;
}
.issue-child {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: #c1f7d5;
  padding: 15px;
}
.issue-child img {
  margin: 10px;
}
.story-container {
  display: flex;
  flex-direction: column;
  /* padding: 10%; */
  margin-top: 20%;
  align-items: center;
}

.person-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.person-1 .btn-black {
  position: relative;
  width: 25%;
  height: 40px;
  bottom: -20px;
}
.person-1 img {
  width: 100%;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  row-gap: 15px;
  background-color: #354463;
  color: white;
  padding: 5%;
}
.story h2 {
  text-align: center;
}
.story p {
  text-align: center;
}
.story-btn {
  font-size: 2rem;
}
.story-readmore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hwb(142 60% 3%);
  color: #354463;
  font-weight: bold;
  border-radius: 100px;
  position: relative;
  top: 30px;
  text-align: center;
  min-width: 160px;
  height: 40px;
  font-size: 18px;
}
.event-container {
  background-color: #354463;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  /* font-family: "Flood std", Arial, sans-serif; */
}

.event-container h1 {
  font-family: "Flood std", Arial, sans-serif;
}

.event-list-container {
  display: flex;
  flex-direction: column;
  background-color: #354463;
}
.event-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-img .btn-white {
  position: relative;
  width: 25%;
  bottom: -20px;
}
.event-img img {
  height: 312px;
  width: 312px;
}

.event-img-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}
.event-img-detail .btn-green {
  width: 25%;
  margin-bottom: 10%;
}
.event-img-detail p {
  font-size: 16px;
}

.subscribe-container {
  display: flex;
  /* flex-direction: ; */
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #c1f7d5;
  padding: 5%;
}

.input-div {
  background-color: #ffffff;
  border-radius: 100px;
  height: 40px;
  padding: 4px;
}
.input-div input {
  border: none;
  outline: none;
}
.subscribe-container .btn-black {
  border-radius: 100px;
  height: 40px;
  padding: 4px;
  color: #c1f7d5;
  font-weight: bold;
  margin-top: 5px;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #354463;
  min-width: 160px;
  font-weight: lighter;
  border-radius: 25px;
}
.footer {
  display: grid;
 
  padding: 20px;
}
.footer h1 {
  margin-top: 40px;
  font-family: "flood std";
  
  width: 150px;
}
.footer h2 {
  grid-row: 1;
}
.footer h5 {
  margin-bottom: 10px;
  text-decoration: underline;
}
.footer-contact p {
  margin: 10px 0;
 
  font-weight: lighter;
}
.footer-contact hr {
  display: none;
}
@media (min-width: 1024px) {
  .header-nav {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header-title {
    display: flex;
    justify-content: space-around;
  }
  .header-menu {
    display: flex;
    justify-content: space-around;
  }

  .main-header > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .main-header > div > div:last-child {
    width: 50%;
  }
  .climate-change {
    height: 90vh;
    margin: 0px;
    padding: 0px;
  }
.climate-change-description{
  height: 300px;
  width: 250px;
  padding-left: 15.5rem;;
}
.climate-change-description h1{
  font-size: 25px;
}
.header-card .hero-btn{
 margin-left: 18rem;
}
  .hero-description {
    margin-top: 30px;
    padding-left: 65rem;
    padding-top: 230px;
  }
  .header-card {
    display: flex;
    align-items: flex-start;
    position: relative;
    bottom: 200px;
  }
  .hero-btn {
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;

    
  }

  .story-btn {
    margin-right: 350px;
  }
  .story {
    margin-bottom: 150px;
  }

  .hero-btn-take-action {
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    margin-left: 45rem;
    margin-top: 8rem;
  }
  .container {
    background-color: hsl(118, 88%, 77%);
    display: flex;
    padding: 5%;
    justify-content: space-around;
  }
  .container p{
    width: 260px;
  }
  .mission-list-flex {
    display: flex;
    column-gap: 20px;
  }
  .mission-list h3 {
    padding-left: 38px;
    padding-right: 75px;
  }

  .mission-img {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-left: 150px;
  }
  .mission-img img {
    width: 100%;
    aspect-ratio: 2;
  }
  .mission-list p {
    text-align: start;
    padding-left: 70px;
  }

  .issue-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-image: url("../assets/home/did-you-know-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    column-gap: 10%;
  }
  .issue-heading {
    top: 20px;
    position: relative;
    font-size: 44px;
    width: 30%;
    color: hsl(0, 0%, 100%);
  }
  .issue-heading h2 {
    font-family: "Flood std";
    color: #ffffff;
  }

  .know-btn {
    position: relative;
    height: 40px;
    bottom: -50px;
    max-width: 30%;
  }
  .issue-list {
    width: 100%;
    margin-left: 5%;
  }
  .issue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 5% 0 5% 0;
    padding: 5%;
  }
  .issue h2 {
    width: 50%;
  }
  .issue p {
    width: 60%;
  }
  .issue-know-btn {
    top: 50px;
  }

  .story-container {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    /* padding: 10%; */
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80%;
  }

  .person-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .person-1 .btn-black {
    position: relative;
    width: 25%;
    height: 40px;
    bottom: -20px;
    left: 10%;
  }
  .person-1 img {
    width: 100%;
  }
  .story {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    top: 4%;
    left: 4%;
    width: 20%;
    padding: 3rem;
  }
  .story h2 {
    text-align: left;
    height: 200px;
    width: 350px;
  }
  .story p {
    text-align: left;
  }
  .story-readmore-btn {
    position: relative;
    top: 120px;
    right: 165px;
  }
  .event-container {
    position: relative;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    color: white;
    padding: 5%;
    margin-top: 10%;
  }

  .event-container h1 {
    width: 70%;
    text-align: left;
  }
  .event-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #354463;
  }
  .event-img {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* bottom: -40px; */
  }
  .event-img .btn-white {
    position: relative;
    width: 25%;
    bottom: -20px;
  }
  .event-img img {
    height: 312px;
    width: 312px;
  }

  .event-img-detail {
    position: relative;
    top: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    padding: 20px;
  }
  .event-img-detail .btn-green {
    width: 25%;
    margin-bottom: 10%;
  }
  .event-img-detail p {
    font-size: 16px;
  }
  .event-img-2 {
    order: 1;
  }
  .subscribe-container {
    display: flex;
    /* flex-direction: ; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #c1f7d5;
    padding: 2%;
  }
  .subscribe-container h2 {
    width: 40%;
  }
  .input-div {
    width: 30%;
    background-color: #ffffff;
    border-radius: 100px;
    height: 40px;
    padding: 4px;
  }
  .input-div input {
    border: none;
    outline: none;
  }
  .subscribe-container .btn-black {
    width: 20%;
    border-radius: 100px;
    height: 40px;
    padding: 4px;
    color: #c1f7d5;
    font-weight: bold;
  }
  .subscribe-btn {
    height: 30px;
    min-width: 160px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 5% 5% 8% 5%;
  }

  .footer h1 {
    margin-top: 40px;
    font-family: flood std;
  }

  .footer-contact p {
    margin: 10px 0;
    font-weight: lighter;
  }
  .footer-contact hr {
    display: none;
  }
}
